.nav-toggle {
    display: block;
    width: 1.2rem;
    height: 0.8rem;
    &::before,
    &::after {
        content: "";
        height: 2px;
        width: 100%;
        left: 0;
        position: absolute;
        background-color: var(--white);
    }

    &.is-close {
        &::before {
            top: 0;
        }
        &::after {
            bottom: 0;
        }
    }
    
    &.is-open {
        &::before {
            top: 50%;
            transform: rotate(45deg);
        }
        &::after {
            top: 50%;
            transform: rotate(-45deg);
        }
    }
}
