
html {
  @include colors;
  scroll-behavior: smooth;
  overflow-y: scroll;
}

body {
  font-size: 10px;
  margin: 0;
  background-color: var(--white);
  color: var(--secondary);
  font-family: ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
}

body, body * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  overflow-y: hidden;
  position: relative;
  padding: 0 2.5rem;
  box-sizing: border-box;
  min-height: 100vh;
  .root-background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('../img/collov-home-design--5HHAP5UWFM-unsplash.jpg');
    background-size: cover;
    background-position: center center;
    &::after {
      content: '';
      height: 100%;
      width: 100%;
      position: absolute;
      background-color: var(--white);
      transform-origin: bottom;
    }
  }
  &.is-ready {
    .root-background {
      animation: root 1.5s cubic-bezier(0.33, 1, 0.68, 1) forwards;
      &::after {
        animation: rootafter 1.3s cubic-bezier(0.33, 1, 0.68, 1) forwards;
      }
    }
  }

  @keyframes fade-in {
    from {
      opacity: 0;
      transform: translateY(50px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes root {
    from {
      transform: scale(1.4);
    }
    to {
      transform: scale(1);
    }
  }

  @keyframes rootafter {
    from {
      transform: scaleY(1);
    }
    to {
      transform: scaleY(0);
    }
  }
}
