@font-face {
    font-family: 'Ashbury';
    src: url('../fonts/Ashbury.woff2') format('woff2'),
         url('../fonts/Ashbury.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
